
@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h3>@Model.Heading</h3>

@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group" style="width: 300px">
        <div class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new {@class = "form-control", placeholder="search by location, artist, genre"})
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}



<ul class="gigs voffset">
    @foreach (var g in Model.UpcomingGigs)
    {
        
        <li>
            <div class="date">
                <div class="month"> @g.DateTime.ToString("MMM")</div>
                <div class="day"> @g.DateTime.ToString("d ")</div>
            </div>
            <div class="details">
                <span class="artist"> <a href="@Url.Action("details", "Gigs", new {id = g.Id})">@g.Artist.Name </a> 
                @if (g.IsCancel)
                {
                   <span class="label label-warning">canceled</span>
                }
                @if (Model.ShowActivity)
                {
                    <button data-user-id="@g.ArtistId" class="btn btn-link btn-sm pull-right js-toggle-follow">Follow</button>
                }
                </span>
                <span class="genre">@g.Genre.Name</span>
                @if (Model.ShowActivity && !g.IsCancel)
                {
                    <button data-gig-id="@g.Id" class="btn @(Model.Attendences.Contains(g.Id) ? "btn-info" : "btn-default") btn-sm pull-right js-toggle-attendence">Going?</button>
                }
                
            </div>
        </li>
    }
</ul>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            gigsController.init();
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followerId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("following");
                    })
                    .fail(function () {
                        alert("something failed");
                    });
            });
        });

       
    </script>
}
